.TimerActivityItem {
  background-color: white;
  border-bottom: solid 1px lightgray;

  &[data-selected="true"] {
    background-color: var(--c-active);
    position: sticky;
  }
}

.container {
  display: flex;

  & > * {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.feeling {
  order: -1;
}

h1.title {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.time {
  color: gray;
  font-size: 0.8em;
  margin-right: 1rem;
}

.settings {
  float: right;
}
