.BasicPageHeader {
  background-color: #036;
  color: white;
  height: 1.5em;
  line-height: 1.5em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.BasicPageBody {
  min-height: 60vh;
}

.BasicPageFooter {
  border-top: dashed 1px lightgray;
  margin-top: 1rem;
  padding-top: 1rem;
}
