.TimerConsole {
  display: grid;
  gap: 0.4rem 0;
  grid-template:
    "toggle heading remaining" auto
    "toggle clock   remaining" auto
    "task   task    task     " auto
    / 3rem auto auto;
}

h1.TimerConsole-heading {
  font-size: 1rem;
  margin: 0;
  grid-area: heading;
}

.TimerConsole-clock {
  grid-area: clock;
}

.TimerConsole-remaining {
  font-size: 3rem;
  font-weight: bold;
  grid-area: remaining;

  @media screen and (max-width: 480px) {
    & {
      font-size: 10vw;
    }
  }
}

button.TimerConsole-toggle {
  background-color: lightgray;
  border-style: none;
  grid-area: toggle;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.TimerConsole-toggleLabel {
  font-size: 0.5rem;
}

.TimerConsole-runningIndicator {
  animation: flashing 1s infinite step-end;

  @keyframes flashing {
    0% { opacity: 1; }
    50% { opacity: 0; }
  }
}

.TimerConsole-task {
  grid-area: task;
  height: 2rem;
}
