.TimerPage {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.TimerPage-header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.TimerPage-body {
  overflow: auto;
}

.TimerPage-footer {
  border-top: 1px solid lightgray;
  width: 100%;
}

.TimerPage-activityList {
  background-color: #f0f0f0;
  padding-bottom: 30vh;

  .TimerActivityItem {
    background-color: white;
  }
}
