.TimerPage {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.TimerPage-header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.TimerPage-body {
  overflow: auto;
}

.TimerPage-footer {
  border-top: 1px solid lightgray;
  width: 100%;
}

.TimerPage-activityList {
  background-color: #f0f0f0;
  padding-bottom: 30vh;

  .TimerActivityItem {
    background-color: white;
  }
}

.TimerPage-ChimePopup {
  bottom: 0.5rem;
  position: fixed;
  transition: opacity 300ms, transform 300ms;
  width: 100%;

  &[data-visible="false"] {
    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
  }

  &[data-visible="true"] {
    opacity: 1;
    transform: translateY(0);
  }
}

.TimerPage-ChimePopup-inner {
  background-color: #090c;
  border: 2px solid #090;
  border-radius: 0.2rem;
  color: white;
  padding: 1rem;
}
