.root {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  height: 100vh;
}

.header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.body {
  overflow: auto;
}

.footer {
  border-top: 1px solid lightgray;
  width: 100%;
}

.tabs {
  border-top: 1px solid lightgray;
  width: 100%;
}

.activityList {
  background-color: #f0f0f0;
  min-height: calc(100% - 30vh);
  padding-bottom: 30vh;
}
